@import url(//db.onlinewebfonts.com/c/1868e326d3ee28e5395f6efa2bc037bf?family=Eina01-Regular);
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@font-face {
  font-family: "Eina01-Regular";
  src: url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.eot");
  src: url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.woff") format("woff"), url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1868e326d3ee28e5395f6efa2bc037bf.svg#Eina01-Regular") format("svg"); }

.logoFilter {
  filter: drop-shadow(8px 6px 17px rgba(0, 0, 0, 0.5)); }

a:hover {
  text-decoration: none; }

.arrows {
  transform: translateY(29px); }
  .arrows a {
    color: #001f2b;
    font-size: 18px;
    font-weight: bold; }

body {
  font-family: "Eina01-Regular";
  margin: 0; }

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #141526;
  z-index: 9999;
  font-size: 65px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
  font-family: tahoma; }

.vimeo-container {
  background: #49416d;
  position: relative; }
  .vimeo-container::before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 68, 68, 0);
    content: "";
    z-index: 14; }

.contactPageForm {
  max-width: 450px;
  width: 100%; }
  .contactPageForm input {
    border: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 1px solid #fff; }
    .contactPageForm input::placeholder {
      color: #fff; }
  .contactPageForm button {
    background-color: #fff;
    padding: 4px 24px;
    border-radius: 5px;
    border: 1px solid;
    border-color: darkcyan;
    color: #00415a; }

.vimeo-container {
  padding: 0;
  width: 100%;
  height: calc(100vw * 0.39);
  overflow: hidden;
  position: relative; }

iframe.video {
  box-sizing: border-box;
  width: 177.77777778vh;
  height: 56.25vw;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header {
  background: #49416d;
  position: fixed;
  left: 0;
  z-index: 4;
  width: 100%;
  top: 0; }
  .header li {
    position: relative; }
  .header a {
    color: #fff;
    font-family: "Eina01-Regular";
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    transition: all 0.3s; }
    .header a::after {
      transition: all 0.3s;
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 40px;
      z-index: 3;
      left: 50%;
      bottom: -13px;
      content: "";
      position: absolute;
      transform: translate(-50%, -50%); }
    .header a.active::after, .header a:hover::after {
      background: #fff; }

.partners {
  padding-top: 140px; }
  .partners img {
    max-width: 100%; }

.service {
  padding-top: 120px; }
  .service img {
    max-height: 430px;
    max-width: 100%; }

.service__title {
  color: #001f2b;
  font-weight: 28px;
  font-weight: bold;
  text-transform: uppercase; }

.service__plus {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #49416d;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(128deg, #684b9d, #e5284e);
  transition: all 0.3s;
  margin: auto; }
  .service__plus:hover {
    box-shadow: 2px 5px 11px 0px #06000063; }

.OurGames {
  padding-top: 120px;
  position: relative; }
  .OurGames a {
    color: #001f2b; }
  .OurGames .owl-carousel h4 {
    font-weight: bold; }
  .OurGames .owl-carousel img {
    max-height: 300px; }
    .OurGames .owl-carousel img.slider-img {
      height: 100%;
      width: auto; }
  .OurGames .left-arrow {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%); }
  .OurGames .right-arrow {
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%); }

#aboutUs {
  padding-top: 120px; }

.modalImg {
  height: 200px;
  background-position: center;
  border-bottom: 1px solid;
  background-size: cover; }
  .modalImg.BRANDING {
    background-image: url("../imgs/BRANDING.png"); }
  .modalImg.gaming_apps {
    background-image: url("../imgs/GAMING APPS.png"); }
  .modalImg.content_creation {
    background-image: url("../imgs/Video Content Creation.png"); }
  .modalImg.INFLUENCER {
    background-image: url("../imgs/INFLUENCER MARKETING.png"); }
  .modalImg.THROUGH_GAMEIFICATION {
    background-image: url("../imgs/Marketing through gamification.png"); }
  .modalImg.D_ANIMATIONS {
    background-image: url("../imgs/2D & 3D ANIMATION.png"); }

.All-games {
  display: none; }
  .All-games img {
    max-width: 100%; }

#seeAll {
  font-size: 18px;
  color: #00719c;
  font-weight: bold;
  text-transform: capitalize; }

.aboutUs {
  background-color: linear-gradient(128deg, #684b9d, #e5284e);
  background-image: url("../imgs/Team Final.png");
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  padding-bottom: 30px; }
  .aboutUs::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(128deg, #684b9deb, #e5284ef2);
    content: "";
    position: absolute;
    top: 0;
    left: 0; }
  .aboutUs .investment,
  .aboutUs .CareersContent {
    position: relative;
    color: #fff;
    margin-top: 7%;
    text-transform: capitalize; }
    .aboutUs .investment h3,
    .aboutUs .CareersContent h3 {
      display: inline-block;
      text-transform: capitalize;
      margin: auto;
      padding-bottom: 10px;
      font-weight: bold;
      border-bottom: 2px solid;
      margin-bottom: 20px; }
  .aboutUs__tabs {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0; }
    .aboutUs__tabs li {
      width: 190px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 10px;
      color: #49416d;
      background: #fff;
      transition: 0.3s;
      cursor: pointer; }
      .aboutUs__tabs li.active, .aboutUs__tabs li:hover {
        background: #49416d;
        color: #fff; }
  .aboutUs__team-memeber {
    height: 240px;
    color: #fff; }
    .aboutUs__team-memeber img {
      max-width: 100%;
      max-height: 180px;
      max-width: 180px;
      max-height: 180px;
      object-fit: cover; }
    .aboutUs__team-memeber h5 {
      margin-top: 8px;
      font-size: 18px;
      margin-bottom: 0px; }
    .aboutUs__team-memeber div {
      font-size: 14px; }

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 8px 14px;
  border-radius: 50px;
  background: linear-gradient(98deg, #684b9d, #e5284e); }
  #toTopBtn svg {
    height: 30px;
    color: #fff; }

.containerFOrm {
  background: linear-gradient(98deg, #684b9d, #e5284e); }

.containerContact {
  position: absolute;
  left: 54%;
  top: 20px;
  transform: translateX(-50%); }

.footer {
  background-color: #49416d;
  color: #fff;
  padding: 32px 0; }
  .footer__menus-section a {
    display: block;
    color: #fff;
    height: 22.5px;
    margin-bottom: 6px;
    text-transform: capitalize; }
  .footer label {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px; }
  .footer__socials a {
    display: inline-block;
    margin-right: 16px; }

.heading {
  color: #001f2b;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid #009bd6;
  position: relative; }
  .heading:before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #684b9d, #e5284e);
    content: "";
    bottom: -3px; }

.responsiveMenu {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 100;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .responsiveMenu li {
    text-align: center;
    margin-bottom: 12px; }
    .responsiveMenu li a {
      font-size: 30px;
      color: #001f2b; }
  .responsiveMenu img {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer; }

.ServiceModal__wraper {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.82);
  z-index: 120; }
  .ServiceModal__wraper .closeModal {
    position: absolute;
    top: 74px;
    right: 80px;
    cursor: pointer;
    z-index: 324;
    background: #fff9;
    padding: 3px;
    border-radius: 5px;
    width: 36px; }

.modalWrapper {
  margin: auto; }

.ServiceModal {
  position: relative;
  width: 90%;
  z-index: 200;
  margin: auto;
  margin-top: 60px;
  max-width: 1140px;
  height: auto;
  background: #fff;
  text-align: center;
  color: #00415a;
  overflow-y: auto;
  max-height: 90vh;
  box-shadow: 1px 3px 18px 6px #88888854;
  border-radius: 8px;
  text-align: center;
  color: #00415a; }
  .ServiceModal img {
    width: calc(100%);
    object-fit: cover; }
  .ServiceModal__title {
    color: #707070;
    font-size: 20px;
    margin-top: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px; }
  .ServiceModal p {
    margin-left: 20px;
    margin-right: 20px; }

.games .header {
  background: none;
  position: relative; }

.games .headerWrapper {
  background: linear-gradient(#77d9ff, #0094cc);
  color: #fff; }
  .games .headerWrapper h3 {
    margin-top: 90px;
    color: #fff;
    font-size: 26px;
    font-weight: bold; }

.aboutGame {
  color: #001f2b; }
  .aboutGame h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .aboutGame ul {
    list-style: none;
    /* Remove default bullets */
    margin-left: 0;
    padding-left: 15px; }
    .aboutGame ul li {
      margin-bottom: 4px; }
  .aboutGame ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #009bd6;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */ }

.box {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%; }

.box .front {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s; }

/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0; }

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2; }

/* back, initially hidden pane */
.box .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0; }

.box:hover .back {
  transform: perspective(1000px) rotateY(0deg); }

/**********  front  **************/
.box .front .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.box .front .center img {
  width: 100px;
  height: 100px; }

/**********  back  **************/
.box .back .row {
  position: relative;
  width: 100%;
  height: 50%; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  margin: -2px 0px 0px -2px !important; }

#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  margin: -6px 0 0 -6px !important; }

#fp-nav ul li a.active span {
  width: 6px !important;
  height: 20px !important;
  left: 11px !important;
  background: #fff !important; }

#fp-nav ul li a span {
  border-radius: 3px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  width: 6px !important; }

#fullpage .cardWrapper {
  position: relative; }
  #fullpage .cardWrapper img {
    max-width: 300px; }

#fullpage .owl-nav {
  position: absolute;
  right: 0;
  transform: translateY(50px); }
  #fullpage .owl-nav button {
    margin-left: 30px; }
    #fullpage .owl-nav button:hover svg > rect {
      fill: #4886ff; }
    #fullpage .owl-nav button:active, #fullpage .owl-nav button:focus {
      outline: none; }

#fullpage .nftCard {
  position: absolute; }
  #fullpage .nftCard-first {
    top: -29%;
    right: -42%; }
  #fullpage .nftCard-secund {
    top: -27%;
    right: 5%; }
  #fullpage .nftCard-third {
    top: 50%;
    top: 43%; }

#fullpage h3 {
  font-family: "Syncopate", sans-serif;
  color: #db2b54;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 17px;
  margin-top: 10px; }

#fullpage h1 {
  font-family: "Syncopate", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-weight: 700;
  color: transparent;
  font-size: 68px;
  margin-bottom: 24px; }

#fullpage p {
  margin-top: 40px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7); }

#fullpage a.btn {
  position: relative; }
  #fullpage a.btn > svg {
    z-index: 2;
    position: relative; }
  #fullpage a.btn .blur {
    position: absolute;
    position: absolute;
    left: -162px;
    top: -241px;
    width: 700px; }
    #fullpage a.btn .blur svg {
      max-width: 100%; }

#fullpage h2 {
  font-size: 68px;
  font-weight: 700;
  font-weight: 700;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px; }
  #fullpage h2 span {
    color: #db2b54; }

#fullpage #section0 {
  background: url("../nfts/Rectangle 3.png");
  background-size: cover;
  background-repeat: no-repeat; }

#fullpage #section1 {
  background: url("../nfts/Rectangle 3 (3).png");
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden; }
  #fullpage #section1:before {
    background: rgba(39, 34, 62, 0.7);
    width: 66vw;
    height: 169vh;
    content: "";
    position: absolute;
    transform: rotate(-32deg);
    left: -17%; }
  #fullpage #section1 .intro {
    position: relative; }
    #fullpage #section1 .intro h2,
    #fullpage #section1 .intro h1 {
      text-transform: uppercase; }
  @media only screen and (max-width: 1200px) {
    #fullpage #section1 {
      background-size: cover;
      background-position: center; } }

#fullpage #section2 {
  background: url("../nfts/Rectangle 3 (2).png");
  background-size: cover;
  background-repeat: no-repeat; }

@media only screen and (max-width: 800px) {
  .modalImg {
    height: 104px; }
  .ServiceModal__wraper .closeModal {
    top: 61px;
    right: 44px;
    background: #ffffffe8; }
  .service.mobile .serviceItemMobile {
    cursor: pointer; }
  .service.mobile img {
    max-height: 216px;
    margin-bottom: 10px; }
  .footer__socials a img {
    width: 30px; }
  .OurGames .owl-carousel img.slider-img {
    width: 90%; }
  .aboutUs__team-memeber img {
    max-width: 165px; }
  .aboutUs .investment,
  .aboutUs .CareersContent {
    padding: 0 10px; }
  .header {
    background: #fff; }
  .vimeo-container {
    margin-top: 78px !important;
    height: calc(100vw * 0.39); }
    .vimeo-container iframe {
      width: 100%; }
  .partners {
    padding-top: 70px; }
  .service__title {
    font-size: 14px; }
  .left-arrow {
    display: none; }
  .right-arrow {
    display: none; }
  .footer label {
    font-size: 15px; }
  .footer__menus-section a {
    font-size: 11px;
    margin-bottom: 6px; }
  .footer__socials {
    margin-bottom: 20px; }
  .OurGames h4 {
    font-size: 13px;
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .OurGames .title1 {
    margin-left: 25px !important; }
  .OurGames .title2 {
    margin-right: 15px !important; }
  .OurGames .title3 {
    margin-right: 25px !important; } }

@media only screen and (max-width: 700px) {
  .OurGames .owl-carousel img.slider-img {
    width: 90%; }
  #fp-nav.fp-left {
    left: 0px !important; }
  #fullpage .owl-nav {
    position: absolute;
    transform: translateY(50px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    margin-top: 16px;
    margin-left: -20px; }
    #fullpage .owl-nav svg {
      max-width: 50px; }
  #fullpage .content {
    margin: auto;
    max-width: calc(100vw - 70px); }
  #fullpage * {
    text-align: center !important; }
  #fullpage h1 {
    font-size: 24px; }
  #fullpage .blur {
    display: none; }
  #fullpage h2 {
    font-size: 24px; }
    #fullpage h2.break {
      padding-left: 9px !important; }
  #fullpage .cardWrapper {
    display: none; } }
